.center-square {
  background: #eaeaea;
  grid-row-start: 2;
  grid-row-end: 11;
  grid-column-start: 2;
  grid-column-end: 11;
  padding: 5px 5px 5px 5px;

  display: flex;
  flex-direction: row;
}

.center-square .players-display {
  flex-basis: 15%;
}

.center-square .center-left-side {
  flex-basis: 85%;
  flex-direction: column;
  display: flex;
}

.game-results {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
}

.game-results .dice-roll {
  display: flex;
}

.game-results .description {
  text-align: left;
}

.auction-container .auction-header {
  font-weight: bold;
}

.lotto-container .header {
  font-weight: bold;
}
.lotto-container .lotto-options {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.lotto-container .lotto-option {
  flex-basis: 33%;
  cursor: pointer;
}

.lotto-container .lotto-option.picked {
  border-radius: 5px;
  border: 5px solid black;
}

.lotto-container .prize-amount {
  margin-top: 10px;
  font-weight: bold;
  font-size: 130%;
}

.lotto-container .lotto-animation {
  margin-top: 10px;
}

.second-row {
  flex-basis: 100%;
  display: flex;
}

.second-row .player-viewer {
  flex-basis: 50%;
  border: 1px solid black;
}

.second-row .property-viewer {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border: 1px solid black;
}

.property-viewer .property-name {
  border: 1px solid black;
  color: white;
  font-weight: bold;
}

.property-viewer .train-station-name,
.utility-name {
  border: 1px solid black;
  color: white;
  font-weight: bold;
  background-color: black;
}

.property-viewer .utility-icon {
  margin-top: 5px;
  margin-bottom: 5px;
}

.property-viewer .info-tables {
  display: flex;
  flex-direction: row;
}

.property-viewer .rent-info {
  border-right: 3px solid black;
}

.player-viewer .player-name {
  border: 1px solid black;
  color: white;
  font-weight: bold;
}

.player-viewer .info-tables {
  display: flex;
  flex-direction: column;
}

.player-viewer .other-info {
  border-top: 3px solid black;
}

.player-actions {
  flex-basis: 10%;
}

/* players */
.players-display {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.player-info {
  margin: 3px;
  padding: 0;
  text-align: center;
  border-style: groove;
  border-width: 5px;
  flex-basis: 10%;
}

.player-info .container {
  flex-direction: column;
  justify-content: flex-start;
}

.player-info .name {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-weight: bold;
}

.player-info .sub-name {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-weight: bold;
  font-size: calc(0.4rem + 0.4vw + 0.5vh);
}

.player-info .player-chip .MuiChip-label {
  font-size: calc(0.4rem + 0.4vw + 0.5vh);
}

.player-info .money {
  font-weight: bold;
  font-size: calc(0.6rem + 0.4vw + 0.5vh);
}

.square-viewer-header-row {
  background-color: rgb(77, 75, 75);
  color: white !important;
}
