.center-square {
  background: #eaeaea;
  grid-row-start: 2;
  grid-row-end: 11;
  grid-column-start: 2;
  grid-column-end: 11;

  display: flex;
  flex-direction: row;
}

.center-square .players-display {
  flex-basis: 15%;
}

.center-square .player-actions {
  flex-basis: 85%;
}

/* players */
.players-display {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.player-info {
  margin: 3px;
  padding: 0;
  text-align: center;
  border-style: groove;
  border-width: 5px;
  flex-basis: 20%;
}

.player-info .container {
}

.player-info .name {
}

.player-info .icon {
}

.player-info .money {
}
