body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-page-options {
  align-items: center;
  flex-direction: row;
}

.skill-descriptions {
  text-align: left;
}
.player-class-description {
  text-align: left;
}

.skill-descriptions .header {
  font-weight: bold;
  font-size: 110%;
}

.skill-descriptions .skill {
  padding-top: 5px;
}

.skill-descriptions .description {
  padding-left: 10px;
}

.chance-event-info {
  display: flex;
  justify-content: center;
}

.chance-event-info .headline {
  font-weight: bold;
  font-size: 120%;
}

.chance-event-info .chance-txt {
  padding-left: 20px;
}
