html {
  height: 100%;
}

body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.home-page-options {
  align-items: center;
  flex-direction: row;
}

.skill-descriptions {
  text-align: left;
}
.player-class-description {
  text-align: left;
}

.skill-descriptions .header {
  font-weight: bold;
  font-size: 110%;
}

.skill-descriptions .skill {
  padding-top: 5px;
}

.skill-descriptions .description {
  padding-left: 10px;
}

.chance-event-info {
  display: flex;
  justify-content: center;
}

.chance-event-info .headline {
  font-weight: bold;
  font-size: 120%;
}

.chance-event-info .chance-txt {
  padding-left: 20px;
}

.help-page-cont {
  overflow: scroll;
  height: 100%;
  text-align: left;
}

.field-error {
  color: #bf1650;
}

.field-error::before {
  display: inline;
  content: "⚠ ";
}

.game-grid-header {
  background-color: rgb(209, 206, 206);
}

.row-small-name {
  font-size: 75%;
  font-weight: bold;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.contact-us-msg {
  width: 100%;
}

.MuiDataGrid-colCellTitleContainer {
  overflow: visible !important;
}

.MuiDataGrid-colCellTitle {
  overflow: visible !important;
}

.MuiDataGrid-iconButtonContainer {
  display: none;
}

.MuiDataGrid-cell {
  overflow: visible !important;
}
